.main{
    background:url(https://i.ibb.co/wwGTkp4/bg.jpg);
    background-position: 0 -92px;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
}
.cform{
    position:relative;
    top:2%;
    left:60%;
    background: rgba(0, 0, 0, 0.5); 
    border: 2px solid white;
    padding-right: 5px !important;
}
.clogo{
     position:relative;
    top:85%;
    left:-6%;
}
.form-check-input:checked{
    background-color: #CC4277;
    border-color: #CC4277 !important;
}

.cent-txt{
    line-height: 35px;
}
.needs{
    margin-left: 12%;
}