.main{
    background:url(https://i.ibb.co/wwGTkp4/bg.jpg);
    height: 120vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
}
.cform{
    position:relative;
    top:13%;
    left:60%;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    padding-right: 5px !important;
}
.clogo{
     position:relative;
    top:9%;
    left:60%;
}
.form-check-input:checked{
    background-color: #CC4277;
    border-color: #CC4277 !important;
}

.cent-txt{
    line-height: 35px;
}